
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

* {
   box-sizing: border-box;
}

body {
	background-color: #ECF5FB;
	font-family: 'Antonio', sans-serif;

}

[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
  float: center;
}

@media only screen and (min-width: 768px) {

.col-1 {width: 8.33%;}
.col-2 {width: 25%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 75%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
img {
	 display: none
}
	
}
	

header {
	text-align: center;
	background-color: #5CB6F2;
	color: white;
	font-size: 50px;
	margin: 0;
	padding: 0;
}


nav {
  width: 100px;
  font-size: 30px;
  
}

nav a {
  background-color: #eee;
  color: black; 
  display: block; 
  padding: 80px; 
  text-decoration: none; 
  border: 2px solid #5CB6F2;
}

nav a:hover {
  background-color: #ccc; 
}

nav a.active {
  background-color:  #a0d1ec;
  color: white;
}

main {

	text-align: center;
	font-size: 30px;
	background-color: #eee;
	margin-top: 15px;
	padding: 12px;
	border: 2px solid #5CB6F2;
}

.map {
	width: 25%;
	height: auto;
	margin-top: 20px;
	margin-left: 25%;
	border: 2px solid #5CB6F2;
	background-color: #CCC5B8;
}

div {
	text-align: left;
}

hr {
	color: #5CB6F2;
}

.attrImg {
	width: 25%;
	height: auto;
}

.genList {
	line-height: 2;
}